<html>
<body>
<?php include('./turnip/turnip.php'); 
      $comic = new Comic($_GET['id']); ?>
<center>
<img src="<?php $comic->display(); ?>" title="<?php $comic->display('alt_title'); ?>" />
<div>
<a href="<?php $comic->display('nav_first'); ?>">First</a>
<a href="<?php $comic->display('nav_prev'); ?>">Previous</a>
<a href="<?php $comic->display('nav_next'); ?>">Next</a>
<a href="<?php $comic->display('nav_last'); ?>">Current</a>
</div>
<h2><?php $comic->display_formatted_date('F j, Y'); ?></h2>
<p>
<?php $comic->display('newspost'); ?>
</p>
</body>
</html>
